# Ignore Godot binary files
*.import
*.tscn.export
*.scn.export
*.json.export
*.mimport
*.import.resources
*.import.resources.*

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore any local IDE files
.idea/

# Ignore project-specific directories
.godot/
.godot_export/

# Ignore system-specific files
.DS_Store
Thumbs.db